<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': device.status === 'on',
    'list-group-item-danger': device.status === 'off'
  }"
>
  <h4 [ngStyle]="{ color: getColor() }">
    Appareil : {{ device.name }} -- Statut : {{ device.status }}
  </h4>
  <a [routerLink]="[device.id]">detail</a>
  <button
    class="btn btn-success btn-sm"
    (click)="onSwitch(device.id)"
    [disabled]="device.status === 'on'"
  >
    Allumer
  </button>
  <button
    class="btn btn-danger btn-sm"
    (click)="onSwitch(device.id)"
    [disabled]="device.status === 'off'"
  >
    Éteindre
  </button>
</li>
